.container {
  width: auto;
  margin: 0 auto;
}

h2 {
  float: left;
}

#search {
  float: right;
  margin-top: 30px;
}

.clear {
  clear: both;
}

.not-found {
  text-align: center;
  display: none;
}

.users {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  flex: 0 0 auto;
  flex-basis: 140px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;
}

.user-image img {
  width: 140px;
  height: 140px;
  border-radius: 5px;
}

.user-info {
  margin-top: 10px;
}

.user-info .name,
.user-info .age {
  margin: 0;
}

#template {
  display: none;
}

.btn-outline-light:hover {
  color: black !important;
  background-color: white !important;
}

.btn-outline-dark:hover {
  color: white !important;
  background-color: #1d2a35 !important;
}

.btn-outline-secondary {
  border-color: #00000040;
}

.btn-outline-secondary:hover {
  color: white !important;
  background-color: #1d2a35 !important;
}

#flexSwitchCheckDefault:checked {
  border-color: white;
}

.accordion-item{
  display: grid!important;
}

.navbar-expand-lg{
  z-index: 2;
}

.nav-link-dark:hover {
  color: black !important;
}

.nav-link-light:hover {
  color: white !important;
}

.form-check-input-light:focus {
  /* border: 1px solid white; */
  outline: 0;
  /* box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.842)!important; */
}

.form-check-input-dark:focus {
  /* border: 1px solid black; */
  outline: 0;
  /* box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.842)!important; */
}

.g-blue {
  color: #4285f4;
}
.o-red {
  color: #db4437;
}
.o-yellow {
  color: #f4b400;
}
.l-green {
  color: #0f9d58;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.fa-facebook-f {
  color: #4267b2;
  font-size: 20px;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 500;
}

.fa-youtube-play {
  color: #c00;
  font-size: 20px;
}

.fa-twitter {
  color: #1d9bf0;
  font-size: 20px;
}

.top-5{
  position: sticky;
  top: 59px;
}
